.dropdown__content {
	position: absolute;
	width: 100%;
	left: 0;
	top: 45px;
	z-index: 999;
  background: #161515;
border: 1px solid rgba(105, 103, 103, 0.88);
padding: 14px 15px 13px 15px;
border-radius: 10px;
}
.dropdown__content li::before{display: none;}
.dropdown__content li{padding: 0 !important;}
.dropdown__content li:not(:last-child){
  margin-bottom: 12px;
}

